<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Cadastrar Novo Grupo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<aside>
  <div th:replace="~{fragments/sidebar :: sidebar}"></div>
</aside>

<div class="container-fluid mt-4" th:fragment="content"> <div class="d-flex align-items-center mb-4 header-mobile-flex"> <div class="toggle-btn btn btn-dark d-md-none me-3"> <span>&#9776;</span>
</div>
  <h1 class="mt-4">Cadastrar Novo Grupo</h1> </div>

  <div th:if="${msgSucesso}" class="alert alert-success" th:text="${msgSucesso}"></div>
  <div th:if="${msgErro}" class="alert alert-danger" th:text="${msgErro}"></div>

  <form th:action="@{/grupos/salvar}" th:object="${grupo}" method="post" class="row g-3 px-3">
    <div class="col-12 col-md-6">
      <label for="jogo" class="form-label">Nome do Jogo </label>
      <select th:field="*{jogo}" class="form-select js-select2" id="jogo" required>
        <option value="" disabled selected hidden>Selecione o Jogo Favorito</option>
        <option th:each="jogo : ${jogos}" th:value="${jogo.id}" th:text="${jogo.nome}"></option>
      </select>
    </div>

    <div class="mb-3">
      <label for="limiteParticipantes" class="form-label">Número máximo de participantes</label>
      <input type="number" class="form-control" id="limiteParticipantes"
             th:field="*{limiteParticipantes}" min="2" max="10" required>
    </div>

    <div class="col-12 col-md-6"> <label for="objetivo" class="form-label">Objetivo</label>
      <select th:field="*{objetivo}" class="form-select" id="objetivo" required>
        <option value="" disabled selected>Selecione o Objetivo</option>
        <option value="Competitivo">Competitivo</option>
        <option value="Casual">Casual</option>
      </select>
    </div>

    <div class="col-12 col-md-6"> <label for="horario" class="form-label">Horario</label>
      <input type="time" th:field="*{horario}" class="form-control" id="horario" required>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-success">Salvar</button>
      <a th:href="@{/grupos}" class="btn btn-secondary ms-2">Cancelar</a>
    </div>

  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> <script th:src="@{/js/script.js}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  $(document).ready(function () {
    $('.js-select2').select2({
      placeholder: "Selecione o Jogo Favorito",
      allowClear: true,
      width: '100%'
    });
  });
</script>
</body>
</html>